.todo-list-container {
    h5 {
        font-size: 3rem;
        text-align: center;
    }
    h6 {
        font-size: 1rem;
        text-align: center;
    }
   .todo-list-title{
    margin-bottom: 2rem;
   }
}